.welcome-card {
  max-height: 35vh;
  overflow: hidden;
 
}

ion-button {
 text-align: center;
}

.micbtn {
  width: 200px;
  height: 200px;
}

.micicon {
  width: 100px;
  height: 100px;
}

@media (prefers-color-scheme: light) {
  ion-toolbar {
    --background: white;
    color: black;
  }
  .verticalScrollContainer {
    background: white;
  }
}

@media (prefers-color-scheme: dark) {
  ion-toolbar {
    --background: black;
    color: white;
  }
  .verticalScrollContainer {
    background: black;
  }
}