<ion-header>
  <ion-toolbar>
    <ion-title>
      Orders
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-card class="welcome-card">
      <ion-card-header>
        <ion-card-title>Orders to pickup</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        No orders available to take up 
      </ion-card-content>
    </ion-card>
    <ion-card class="welcome-card">

      <ion-card-header>
        <ion-card-title> Press mic icon and speak</ion-card-title>
      </ion-card-header>

      <ion-card-content>
        <img src="/assets/mic.jpg" alt="" />
      </ion-card-content>

    </ion-card>
</ion-content>
